.action-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: 8px;

  .add-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 16px;
    margin-bottom: 8px;

    .mat-button-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .mat-focus-indicator {
      background-color: #C40F11;
    }
  }

  .action-button {
    width: 100%;
    font-size: 16px;
    text-align:left;
    padding: 12px;
    margin-bottom: 8px;
  }


}
