.item {
  min-width: 320px;
  flex: 0 0 0;
  display: flex;
  border-radius: 16px;
  margin-bottom: 16px;

  .mat-accordion {
    width: 100%;

    .item-context-container {
      display: flex;
      flex-direction: column;
      padding: 8px;
      border-radius: 8px;

      .item-context {
        display: flex;
        justify-content: space-between;
        padding: 4px 0px 4px 0px;

        &:hover {
          cursor: pointer;
          background-color: #f0f2f5;
          border-radius: 8px;
        }


        .item-img {
          padding: 0 8px 0 8px;
          flex: 1;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .item-col {
          padding: 0 8px 0 8px;
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .divider {
        margin: 4px 0 4px 0;
        display: block;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgba(0, 0, 0, .12);
      }

      .add-button-container {
        margin-top: 8px;
        display: flex;
        justify-content: center;
      }

    }
  }


}
