<div class="navigation mat-elevation-z3">
  <div class="navigation-col">
    <div class="left-container">
      <div class="img">

      </div>
    </div>
  </div>
  <div class="navigation-col">
    <div class="middle-container">
      <button class="option" mat-button>
        <b>Opcja 1</b>
      </button>
      <button class="option" mat-button>
        <b>Opcja 2</b>
      </button>
      <button class="option" mat-button>
        <b>Opcja 3</b>
      </button>
      <button class="option" mat-button>
        <b>Opcja 4</b>
      </button>
    </div>
  </div>
  <div class="navigation-col">
    <div class="right-container">
    <app-account></app-account>
    </div>
  </div>
</div>
