.full-name-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, .12);
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

  .full-name-card-container {
    display: flex;
    align-items: center;

    .img-col {
      flex: 0 0 10%;
    }

    .title-col {
      flex: 1 1 80%;
      margin-left: 16px;

      .full-name {
        font-size: 25px;
        font-weight: 500;
      }
    }

    .action-button {
      flex: 1 1 10%;
    }
  }
}

.edit-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .action-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .mat-raised-button {
      margin-right: 8px;
    }
  }
}

.margin-right {
  margin-right: 8px;
}
