.account-container {
  height: 100%;
  width: 100%;
  display: flex;

  .left-side {
    flex: 1 1 13%;
  }

  .main-side {
    flex: 1 1 87%;
    display: flex;
    flex-direction: column;
    padding: 8px 48px 0 48px;

    .item-navigation {
      flex:  0 1 0;
      width: 100%;
      margin-bottom: 16px;

      .navigation-container {
        display: flex;
        justify-content: flex-start;
        height: 40px;
      }
    }

    .item-context {
      width: 100%;
      flex: 2;
    }

    .tables {
      .mat-card {
        width: 100%;
        border-radius: 16px;
      }
    }

  }

}

.mat-cell, .mat-footer-cell {
  font-size: 12px;
}


