.child-details-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;

  .child-details-left-container {
    flex: 0 0 49%;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
  }

  .child-details-right-container {
    flex: 0 0 49%;
    display: flex;
    flex-direction: column;
  }
}

.edit-mark {
  padding: 16px;
  border-width: 1px;
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .20);
}

.edit {
  font-size: 28px;
  font-weight: 500;
}


