<div class="child-details">
  <div class="personal-data">
    <mat-card>

      <div class="title-container">
        <div class="title">{{(child | async).name }} {{(child | async).surname }}</div>
      </div>
      <div class="img-container">
        <img *ngIf="(child | async)?.gender == 'FEMALE' " src="../../../../assets/images/girl.png" height="200" width="200"/>
        <img *ngIf="(child | async)?.gender == 'MALE' " src="../../../../assets/images/icon-boy.png" height="200" width="200"/>
      </div>

      <div class="context-container">

      </div>
    </mat-card>
  </div>

  <div class="other-information">

  </div>

</div>
