<div class="child-details">
  <div [ngClass]="{'edit-mark' : !readOnly }" class="personal-data">
    <ng-container *ngIf="readOnly; else editMode">
      <div class="person-card">
        <div class="person-card-container">
          <div class="img">
            <img *ngIf="(child | async)?.gender == 'FEMALE' " src="../../../../assets/images/girl.png" height="80"
                 width="80"/>
            <img *ngIf="(child | async)?.gender == 'MALE' " src="../../../../assets/images/icon-boy.png" height="80"
                 width="80"/>
          </div>
          <div class="title">
            <span class="full-name"> {{(child | async).name }} {{(child | async).surname }}</span>
            <p>Dziecko</p>
          </div>
          <div class="action">
            <button (click)="onEdit()" mat-icon-button>
              <span class="material-icons">edit</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #editMode>
      <div class="edit-card">
        <div class="edit-item">
          <span class="edit">Tryb edycji danych dziecka </span>
        </div>
        <div class="edit-item action-buttons">
          <button mat-raised-button color="warn" class="margin-right" (click)="onCancelForm()">Anuluj</button>
          <button mat-raised-button color="primary" (click)="onSaveForm()">Zapisz</button>
        </div>
      </div>
    </ng-template>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Informacje personalne</mat-card-title>
        <mat-card-subtitle>Adres, pesel, ect.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form class="form-container" [formGroup]="form">
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Imię</mat-label>
              <input [readonly]="readOnly" matInput placeholder="Imię" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nazwisko</mat-label>
              <input [readonly]="readOnly" matInput placeholder="Nazwisko" formControlName="surname">
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Płeć</mat-label>
            <mat-select [disabled]="readOnly" placeholder="Płeć" formControlName="gender">
              <mat-option *ngFor="let gender of genderTypes" [value]="gender.value">
                {{gender.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Pesel</mat-label>
              <input [readonly]="readOnly" matInput placeholder="pesel" formControlName="pesel">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Data urodzin</mat-label>
              <input [readonly]="readOnly" matInput [matDatepicker]="dateOfBirth" formControlName="dateOfBirth">
              <mat-datepicker-toggle [disabled]="readOnly" matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
              <mat-datepicker #dateOfBirth></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Kod pocztowy</mat-label>
              <input [readonly]="readOnly" matInput placeholder="Kod pocztowy" formControlName="postalCode">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Miasto</mat-label>
              <input [readonly]="readOnly" matInput placeholder="Miasto" formControlName="city">
            </mat-form-field>
          </div>
          <mat-form-field class="street" appearance="outline">
            <mat-label>Ulica i numer</mat-label>
            <input [readonly]="readOnly" matInput placeholder="Ulica" formControlName="streetNumber">
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Informacje szkolne</mat-card-title>
        <mat-card-subtitle>Grupa, Okres nauki ect.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form class="form-container" [formGroup]="form">

          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [disabled]="readOnly" placeholder="Status" formControlName="status">
              <mat-option *ngFor="let gender of genderTypes" [value]="gender.value">
                {{gender.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Data rozpoczecia</mat-label>
              <input [readonly]="readOnly" matInput [matDatepicker]="startDate" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Data zakończenia</mat-label>
              <input [readonly]="readOnly" matInput [matDatepicker]="endDate" formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>

          <mat-form-field class="group" appearance="outline">
            <mat-label>Grupa</mat-label>
            <input [readonly]="readOnly" matInput placeholder="Grupa" formControlName="group">
          </mat-form-field>


        </form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Uwagi</mat-card-title>
        <mat-card-subtitle>Dotyczące dyrekcji i administracji, posiłków ect.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form class="form-container" [formGroup]="form">

          <mat-form-field appearance="outline">
            <mat-label>Uwagi dotyczące dyrekcji i administracji</mat-label>
            <textarea [readonly]="readOnly" placeholder="W systemie nie ma jeszcze żadnych uwag"
                      formControlName="commentsAdministration" matInput></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Uwagi dotyczące posiłków</mat-label>
            <textarea [readonly]="readOnly" placeholder="W systemie nie ma jeszcze żadnych uwag"
                      formControlName="commentsMeals" matInput></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Inne uwagi</mat-label>
            <textarea [readonly]="readOnly" placeholder="W systemie nie ma jeszcze żadnych uwag"
                      formControlName="commentsOthers" matInput></textarea>
          </mat-form-field>

        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-container>
    <div class="other-information">
      <mat-card class="item">
        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Opiekunowie dziecka
              </mat-panel-title>
              <mat-panel-description>
                Lista prawnych opiekunów dziecka
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="item-context-container">

              <ng-container *ngFor="let guardian of childGuardians | async; index as i; last as last ">
                <div (mouseover)="onHover($event)" (mouseout)="onHover($event)" class="item-context">
                  <div class="item-img">
                    <img src="../../../../assets/images/tata.png" height="25" width="25"/>
                  </div>
                  <div class="item-col">
                    {{guardian.name}} {{guardian.surname}}
                  </div>
                  <div class="item-col">
                    {{guardian.phone}}
                  </div>
                  <div class="item-col">
                    {{guardian.email}}
                  </div>
                  <div *ngIf="hover" class="item-col">
                    <span class="material-icons">email</span>
                  </div>
                </div>
                <div  class="divider">
                </div>
              </ng-container>

              <button mat-stroked-button color="primary">Dodaj opiekuna</button>

            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </div>
  </ng-container>

</div>

